@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}
<h1 class="text-center box-shadow"> Login </h1>

<div class="container">
    <div class="row">
        <div class="col-md-12 offset-1">
            <div class="row">
                <div class="col-md-5 align-content-xxl-start offset-0">
                    <img src="https://img.freepik.com/premium-vector/online-registration-sign-up-with-man-sitting-near-smartphone_268404-95.jpg?w=150" width="500" height="520" class="border border-dark  rounded"/>
                </div>
                <div class="col-md-4 align-content-xl-end border border-dark shadow-lg rounded pl-5 pr-5 pb-3 offset-2">
                    <form asp-controller="Accounts" asp-action="Login" method="post">
                        <div class="row">
                            <div class="form-group pl-4">
                                @*<div asp-validation-summary="All" class="text-danger"></div>*@
                               


                                <div class="form-group">
                                    <label class="form-label mt-4"></label>
                                    <div class="form-floating mb-3">
                                        <input type="text" asp-for="Username" class="form-control" id="floatingInput" placeholder="User Name">
                                        <label for="floatingInput">User Name</label>
                                        <span asp-validation-for="Username" class="text-danger"></span>


                                    </div>


                                    <div class="form-floating">
                                        <input type="password" asp-for="Password" class="form-control" id="floatingPassword" placeholder="Password">
                                        <label for="floatingPassword">Password</label>
                                        <span asp-validation-for="Password" class="text-danger"></span>

                                    </div>

                                    <div class="form-group">
                                        <input type="checkbox" asp-for="IsRemember" value="Sign In" />
                                        <label asp-for="IsRemember"> </label>

                                    </div>


                                    <div class="text-center">
                                        <input type="submit" class="btn btn-outline-primary" value="Sign In" />
                                    </div>



                                    <div class="text-center">
                                        @* <a class="text-primary" asp-action="ForgotUsername">Forgot Username?</a>*@
                                        <a class="text-dark" asp-action="ForgotPassword">Forgot Password</a>

                                    </div>


                                </div>


                            </div>


                            <div>

                                <h6 class="left-text">New Account <a class="text-light btn btn-lg btn-primary " asp-action="SignUp" asp-controller="Accounts"> Sign Up</a></h6>

                            </div>
                         </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>









